*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #a8dadc;
  color: black;
}
.wrap{
  display: flex;
}
#map {
    height: 75vh;
    width: 93%;
    margin: 10vh auto 30px;
    border: solid 3px black;
  }
.imgContainer{
  position: absolute;
  z-index: 1;
  top:2vh;
  right:3.5vw;
  display: flex;
  justify-content: flex-end;
}
.logoContainer{
  position: absolute;
  right: 26.5vw;
  top: 2vh;
}

/*.imgContainer:hover{
  transform: rotate(360deg);
}*/
li{
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid silver;
}
.checkbox-dropdown {
  width: 25vw;
  border: 1px solid #aaa;
  padding: 1vw;
  font-size: 1vw;
  position: relative;
  margin: 2vh 0 20px 3.5vw;
  user-select: none;
  background-color: #f1faee;
  color:#343a40;
}
/*input[type=checkbox] {
  transform: scale(1) translateY(50%);
}*/
input[type=checkbox] {
  margin-right: 5px;
}
.margin-input{
  margin: 2vh 0 20px 2vw;
}

.checkbox-dropdown:after {
  content:'';
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}


.checkbox-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: #fff;
  margin-top: -9px;
}

.checkbox-dropdown-list {
  position: relative;
  z-index: 1;
  background-color: #f1faee;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; 
  border: inherit;
  border-top: none;
  left: -1px; 
  right: -1px; 
  opacity: 0; 
 
  /*transition: opacity 0.4s ease-in-out;*/
  height: 15vh;
  overflow: scroll;
  overflow-x: hidden;
  pointer-events: none; 
}
.is-active .checkbox-dropdown-list {
  opacity: 1; 
  pointer-events: auto; 
}

.checkbox-dropdown-list li label {
  display: block;
  padding: 10px;
  transition: all 0.2s ease-out;
  width: 100%;
}

/*.checkbox-dropdown-list li:hover {
  background-color: #555;
  color: white;
}*/

label{
  position: relative;
}
  
label input{
  position: absolute;
  right: 5px;
  bottom: 50%;
}

.liTrasa1Back{
  background-color: #d5edad;
}
.liTrasa2Back{
  background-color: #d1adea;
}
.liTrasa3Back{
  background-color: #c6c8fa;
}
.liTrasa4Back{
  background-color: #989adf;
}
.liTrasa5Back{
  background-color: #af8b8c;
}
.liTrasa6Back{
  background-color: #af8b8c;
}
.liTrasa7Back{
  background-color: #916996;
}
.liTrasa8Back{
  background-color: #a7cd69;
}
.liTrasa9Back{
  background-color: #4388ab;
}
.liTrasa10Back{
  background-color: #4388ab;
}

.imgKompaktowyPleszew{
  width: 20vw;
  height: 12vh;
}
.logo{
  width: 15vw;
  height: 12vh;
}
@media (max-width: 1500px){
  .imgKompaktowyPleszew{
    width: 22vw;
  }
  .logo{
    width: 17vw;
  }
  .logoContainer{
    right: 29.5vw;
  }
  .checkbox-dropdown{
    width: 21vw;
  }
}
@media (max-width: 1500px) and (max-height:700px){
  .imgKompaktowyPleszew{
    width: 22vw;
    height: 16vh;
  }
}
@media (max-width: 1300px) and (max-height:700px){
  .imgKompaktowyPleszew{
    width: 24vw;
  }
}
@media (max-width: 1300px){
  .checkbox-dropdown{
    font-size: 18px;
  }
  .imgKompaktowyPleszew{
    width: 24vw;
  }
  .logoContainer{
    right: 30.5vw;
  }
}
@media (max-width:1200px){
  .imgKompaktowyPleszew{
    width: 26vw;
  }
  .checkbox-dropdown{
    width: 19vw;
  }
  .logo{
    width: 18vw;
  }
  .logoContainer{
    right: 33.5vw;
  }
}
@media (max-width:1050px){
  .imgKompaktowyPleszew{
    width: 28vw;
    height: 12vh;
  }
  .logoContainer{
    right: 34.5vw;
  }
}
@media (max-width:1050px) and (max-height: 700px){
  .imgKompaktowyPleszew{
    width: 28vw;
    height: 14vh;
  }
}
@media (max-width:950px) and (max-height:850px){
  .imgKompaktowyPleszew{
    height: 20vh;
  }
}
@media (max-width:950px) and (max-height:600px){
  .imgKompaktowyPleszew{
    height: 25vh;
  }
}
@media (max-width:950px){
  .wrap{
    justify-content: center;
  }
  .checkbox-dropdown{
    width: 40vw;
    padding: 25px;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;
    margin-right:10px ;
    margin-left: 0;
  }
  .margin-input{
    margin: 50px 0 0 10px;
  }
  .imgContainer,.logoContainer{
    display: flex;
    position: static;
    justify-content: center;
    margin-top: 50px;
  }
  .logo{
    height: 12vh;
    width: 40vw;
  }
  .imgKompaktowyPleszew{
    width: 55vw;
  }
  #map{
    margin-top: 50px;
    height: 65vh;
  }
  /*input[type=checkbox] {
    transform: scale(1.3) translateY(50%);
  }*/
  input[type=checkbox] {
    transform: scale(1.3);
  }
  /*.checkbox-dropdown-list li label{
    padding: 17px;
    font-size: 25px;
  }*/
  .checkbox-dropdown-list li label{
    font-size: 25px;
  }
  label input{
    right: 10px;
  }
}

@media (max-width:650px){
  .imgKompaktowyPleszew{
    width: 70vw;
  }
  .checkbox-dropdown{
    width: 42vw;
  }
}
@media (max-width:650px){
  .checkbox-dropdown{
    padding: 20px;
    font-size: 21px;
  }
  /*.checkbox-dropdown-list li label{
    font-size: 19px;
    padding: 15px;
  }*/
  .checkbox-dropdown-list li label{
    font-size: 18px;
  }
  .checkbox-dropdown-list{
    height: 23vh;
  }
}
@media (max-width:550px){
  .imgKompaktowyPleszew{
    width: 65vw;
    height: 14vh;
  }
  .logo{
    width: 45vw;
  }
}
@media (max-width:450px){
  .imgContainer, .logoContainer{
    margin-top: 40px;
  }
  .imgKompaktowyPleszew{
    height: 10vh;
  }
  .checkbox-dropdown{
    width: 44vw;
    padding: 15px;
    font-size: 19px;
    margin-top: 40px;
  }
  #map{
    width: calc(88vw + 20px);
    margin-top: 40px;
  }
  .logo{
    height: 10vh;
  }
  .margin-input{
    margin-top: 40px;
  }
}
@media (max-width:400px){
  .imgKompaktowyPleszew{
    height: 11vh;
  }
  .checkbox-dropdown:after{
    right: 5px;
  }
  .checkbox-dropdown{
    width: 45vw;
    padding: 10px;
    font-size: 17px;
    margin-top: 30px;
  }
  #map{
    width: calc(90vw + 20px);
  }
  #map{
    margin-top: 30px;
  }
  .imgContainer, .logoContainer{
    margin-top: 30px;
  }
  .margin-input{
    margin-top: 30px;
  }
}
@media (max-width:300px){
  .checkbox-dropdown{
    font-size: 18px;
    padding: 12px;
  }
  .imgKompaktowyPleszew{
    width:80vw;
  }
}

@media (max-width:1100px) and (max-height:550px){
  .imgKompaktowyPleszew{
    width: 35vw;
    height: 22vh;
  }
  .checkbox-dropdown{
    width: 35vw;
    padding: 15px;
    margin-top: 40px;
  }
  .checkbox-dropdown-list{
    height: 50vh;
  }
  #map{
    height: 80vh;
    margin-top: 40px;
  }
  .imgContainer, .logoContainer{
    margin-top: 40px;
  }
  .margin-input{
    margin-top: 40px;
  }
  .logo{
    height: 22vh;
    width: 25vw;
  }
}
@media (max-width:800px) and (max-height:400px){
  .checkbox-dropdown{
    padding: 13px;
    font-size: 22px;
  }

.checkbox-dropdown{
  margin-top: 30px;
}
#map{
  margin-top: 30px;
}
.imgContainer, .logoContainer{
  margin-top: 30px;
}
.margin-input{
  margin-top: 30px;
}
}

@media (max-width:800px) and (max-height:400px){
  .imgKompaktowyPleszew{
    width: 40vw;
  }
}
