*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #a8dadc;
  color: black;
}
#map {
    height: 800px;
    width: 96%;
    margin: 130px auto 50px;
    border: solid 3px black;
  }
.imgContainer{
  position: absolute;
  z-index: 1;
  top:20px;
  right:30px;
  display: flex;
  justify-content: flex-end;
}

.checkbox-dropdown {
  width: 500px;
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
  margin: 20px 4vw;
  user-select: none;
  background-color: #f1faee;
  color:#343a40;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
  content:'';
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: #fff;
  margin-top: -9px;
}

.checkbox-dropdown-list {
  position: relative;
  z-index: 1;
  background-color: #f1faee;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; /* align the dropdown right below the dropdown text */
  border: inherit;
  border-top: none;
  left: -1px; /* align the dropdown to the left */
  right: -1px; /* align the dropdown to the right */
  opacity: 0; /* hide the dropdown */
 
  transition: opacity 0.4s ease-in-out;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .checkbox-dropdown-list {
  opacity: 1; /* display the dropdown */
  pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
  display: block;
  border-bottom: 1px solid silver;
  padding: 10px;
 
  transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
  background-color: #555;
  color: white;
}

label{
  position: relative;
}
  
label input{
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: translateY(50%);
}